@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary-color: #393d64;
}

.text-primary {
    color: var(--primary-color);
}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.large-bold {
    font-size: 68px;
    font-weight: 700;
}

.medium-bold {
    font-size: 48px;
    font-weight: 700;
}

.btn {
    padding: 16px 22px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: top ease 0.5s;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    top: -5px;
}

.btn-primary:focus {
    background-color: var(--primary-color);
}

.btn-light:hover {
    top: -5px;
}

.navbar {
    padding: 17px 0;
    transition: all 0.5s ease;
    border-bottom: 1px solid #efefef;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px; 
}

.hero-title {
    font-size: 68px;
    line-height: 91px;
}

.img-fluid {
    width: 100%;
}

.grey-bold-lines-table {
    width: 100%;
    background-color: #b8b8b8;
    color: #000;    
    border-width: 10px;
}
.page{
    display: none;
}
.page.active{
    display: block;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card {
    color: #f8f9fa;
    border: none;
    background-color: #000;
}
.bold {
    font-weight: 700;
}

section.hero p {
    font-size: 18px;
    line-height: 23px;
}

/* Partners */

section.trusted {
    padding: 5rem 0;
}

@media (min-width: 1399.38px){
    .container {
        width: 84%;
    }
}

#welcome {
    background-image: url(images/galaxia.png);
    background-size: cover;
    color: #ffffff;
    padding: 8rem 15%;
    font-size: 32px;
}

#about-us {
    color: #ffffff;
    background-color: #000;
    background-size: cover;
    padding: 8rem 10%;
}

#areas-de-investigacion {
    color: #ffffff;
    background-color: #000;
    background-size: cover;
    padding: 8rem 10%;
}
#proyectos {
    color: #ffffff;
    background-color: #000;
    background-size: cover;
    padding: 8rem 10%;
}